<% include ./partials/header %>
    <div class="jumbotron jumb">
        <div class="flex">
            <h1> <a id='landingChatter' href="/chatrooms">Welcome to Chatter</a> </h1>
        </div>
    </div>
    <% include ./partials/footer %>