<% include ./partials/header %>
    <form class="form-inline" action="/chatrooms" method="post">
        <div class="form-group">
            <label class="sr-only" for="newChat">Email address</label>
            <input type="text" class="form-control" id="newChat" name="name" placeholder="New Chatroom Name">
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
    </div>
    <% include ./partials/footer %>